<!--<fa-icon [icon]="faBookOpen"></fa-icon>-->
<div class="navegacaoContainer">
  <div>
    <a routerLink="livros" [ngClass]="{'active': active('livros') || active('detalhes')}">
      <fa-icon [icon]="faBookOpen"></fa-icon>
    </a>
  </div>
  <div>
    <a routerLink="autores" routerLinkActive="active">
      <fa-icon [icon]="faPenNib"></fa-icon>
    </a>
  </div>
  <div>
    <a routerLink="favoritos" routerLinkActive="active">
      <fa-icon [icon]="faBookmark"></fa-icon>
    </a>
  </div>
  <div>
    <a routerLink="vendas" routerLinkActive="active">
      <fa-icon [icon]="faList"></fa-icon>
    </a>
  </div>
</div>
