<div class="livrosContainer">
  <app-livro nome="Memorial do Convento" autor="José Saramago" [ano_publicacao]="1982"
             imagem="assets/livraria/capas/12.jpg"
  ></app-livro>
  <app-livro nome="O Silêncio da Água" autor="José Saramago" [ano_publicacao]="2011"
             imagem="assets/livraria/capas/10.jpg"
  ></app-livro>
  <app-livro nome="Livro do Desassossego" autor="Fernando Pessoa" [ano_publicacao]="1982"
             imagem="assets/livraria/capas/5.jpg"
  ></app-livro>
  <app-livro nome="Mau Tempo No Canal" autor="Vitorino Nemésio" [ano_publicacao]="2008"
             imagem="assets/livraria/capas/6.jpg"
  ></app-livro>
  <app-livro nome="Humus" autor="Raul Brandão" [ano_publicacao]="2011"
             imagem="assets/livraria/capas/4.jpg"
  ></app-livro>
</div>
