.livrosContainer {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
}

.cabecalhoSearch {
  //border: 2px solid green;

  width: 100%;
  height: fit-content;

  input {
    width: 100%;
    background-color: #d7d7d7;
    padding: 10px 15px;
    border-radius: 8px;

    border: none;
  }
}

.livrosNavigationCont {

  width: 100%;
  height: 45px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.arrowAndText {
  display: flex;
  gap: 5px;
  color: #3BB7B9;
}
