<div class="livrosContainer">

  <div class="cabecalhoSearch">
    <form action="">
      <input [ngModel]="searchInput.value" (ngModelChange)="searchInput.next($event)" type="text" name="searchInput" id=""
             placeholder="Pesquisar Livro">
    </form>
  </div>

  <app-livro *ngFor="let livro of livros"

             [id]="livro.id"
             [nome]="livro.titulo"
             [autor]="livro.autor"
             [ano_publicacao]="livro.ano_publicacao"
             [imagem]="livro.imagem">
  </app-livro>

  <div class="livrosNavigationCont">
    <div class="arrowAndText" (click)="previousPage()">
      <fa-icon [icon]="faChevronLeft"></fa-icon>
      <p>Anterior</p>
    </div>
    <div class="arrowAndText" (click)="nextPage()">
      <p>Seguinte</p>
      <fa-icon [icon]="faChevronRight"></fa-icon>
    </div>
  </div>

</div>
