<div class="livrosContainer">

  <app-livro *ngFor="let livro of livros"

             [id]="livro.id"
             [nome]="livro.titulo"
             [autor]="livro.autor"
             [ano_publicacao]="livro.ano_publicacao"
             [imagem]="livro.imagem">
  </app-livro>

  <div class="livrosNavigationCont">
    <div class="arrowAndText">
      <fa-icon [icon]="faChevronLeft"></fa-icon>
      <p>Anterior</p>
    </div>
    <div class="arrowAndText">
      <p>Seguinte</p>
      <fa-icon [icon]="faChevronRight"></fa-icon>
    </div>
  </div>

</div>
