<div class="detalhesContainer" *ngIf="detalheLivro">

  <div class="detalhesBook">
    <div class="detalhesBookImg">
      <img src="{{detalheLivro.imagem}}" alt="">
      <div class="iconCont" (click)="toogleFav()">
        <fa-icon [icon]="checkIfFav() ? faBookmarkSolid : faBookmark" id="favIcon"></fa-icon>
      </div>
    </div>
    <div class="detalhesBookText">
      <p>{{detalheLivro.titulo}}</p>
      <p>{{detalheLivro.autor}}</p>
      <div class="livroPYear">
        <p>{{detalheLivro.ano_publicacao}}</p>
      </div>
    </div>
  </div>

  <hr>

  <div>
    <p>{{detalheLivro.sinopse}}</p>
  </div>

  <hr>

  <div class="vendasContainer">
    <div class="vendasTextAndIcon">
      <p>Vendas</p>
      <fa-icon [icon]="faChevronDown"></fa-icon>
    </div>
    <div class="vendasObject" *ngFor="let venda of detalheLivro.vendas">
      <p>{{venda.cliente}}</p>
      <p>{{venda.data | date: 'dd'}} de {{venda.data | date:'MMMM':'':'pt'}} às {{venda.data | date: 'HH'}}
        h{{venda.data | date: 'mm'}}</p>
    </div>
  </div>


</div>
<div *ngIf="detalheLivro === undefined">Loading...</div>
<div *ngIf="detalheLivro === null">Book doesn't exist.</div>
